@import "../../Styling/main";

form {
  margin-top: $main-spacing * 2;
  margin-bottom: $main-spacing * 2;
  margin-left: 5px;

  @media #{$screen-mobile-plus-only} {
    margin: $main-spacing * 2 -5px $main-spacing * 2 auto;
  }

  @media #{$screen-tablet-portrait-and-bigger} {
    margin: $main-spacing * 3 -6px $main-spacing * 3 auto;
  }

  .form__search {
    padding: $main-spacing;
    border-radius: 5px;
    color: $main-background;
    border: none;
    width: 80vw;
    font-size: 1rem;

    @media #{$screen-mobile-plus-only} {
      width: 83vw;
    }

    @media #{$screen-tablet-portrait-only} {
      font-size: 1.5rem;
      width: 90vw;
      padding-left: 4%;
    }

    @media #{$screen-tablet-landscape-only} {
      width: 89vw;
    }

    @media #{$screen-laptop-only} {
      width: 81vw;
    }

    @media #{$screen-desktop-and-bigger} {
      width: 82vw;
    }
  }

  ::placeholder {
    color: darken($main-grey, 20%);
  }
}
