@import '../../Styling/main.scss';

form {
  margin: 5%;

  .form__search {
    width: 60vw;
    padding: 1%;
    border-radius: 5px;
    color: $main-background;
    font-size: 2rem;
    border: none;
    padding-left: 4%;
  }

  ::placeholder {
      color: $main-grey;
    }

}