@import "../../Styling/main";

form {
  margin-top: $main-spacing * 2;
  margin-bottom: $main-spacing * 2;
  margin-left: 5px;

  @media #{$screen-mobile-plus-only} {
    margin: $main-spacing * 2 -5px $main-spacing * 2 auto;
  }

  @media #{$screen-tablet-portrait-and-bigger} {
    margin: $main-spacing * 3 -6px $main-spacing * 3 auto;
  }

  .form__search {
    padding: $main-spacing;
    border-radius: 5px;
    color: $main-background;
    border: none;
    width: 92%;
    font-size: 1rem;

    @media (min-width: 320px) and (max-width: 479.5px) {
      max-width: 18rem;
    }

    @media (min-width: 480px) and (max-width: 529.5px) {
      max-width: 86vw;
    }

    @media (min-width: 530px) and (max-width: 555.5px) {
      max-width: 85vw;
    }

    @media (min-width: 556px) and (max-width: 599.5px) {
      max-width: 84vw;
    }

    @media (min-width: 600px) and (max-width: 729.5px) {
      max-width: 85vw;
    }

    @media (min-width: 730px) and (max-width: 767.5px) {
      max-width: 81vw;
    }

    @media (min-width: 768px) and (max-width: 811.5px) {
      max-width: 87vw;
    }

    @media (min-width: 812px) and (max-width: 1023.5px) {
      max-width: 84vw;
    }

    @media (min-width: 1280px) and (max-width: 2199.5px) {
      width: 100%;
      max-width: 94%;
    }

    @media (min-width: 2200px) {
      width: 100%;
      max-width: 95%;
    }
  }

  ::placeholder {
    color: darken($main-grey, 20%);
  }
}
