@import "../../Styling/main.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .title {
    color: $main-white;
    font-size: 1rem;
    max-width: 77vw;
  }
}

.message {
  margin: 0 auto;
  color: $main-white;
}
