@import "./Styling/main";

body {
  background-color: $main-background;
}

.App {
  text-align: center;
  margin: 0 auto;

  @media (min-width: 1152px) and (max-width: 1279.5px) {
    max-width: 90%;
  }

  @media (min-width: 1280px) {
    max-width: 87%;
  }
}
