@import "../../Styling/main";

.image-container {
  width: 77vw;
  height: 26vh;

  @media #{$screen-mobile-plus-only} {
    width: 37vw;
    height: 47vh;
  }

  @media #{$screen-tablet-portrait-only} {
    width: 13rem;
    height: 10rem;
  }

  @media #{$screen-tablet-landscape-only} {
    height: 13rem;
    width: 17rem;
  }

   @media #{$screen-laptop-only} {
    height: 14rem;
    width: 19rem;
  }

    @media #{$screen-desktop-and-bigger} {
     width: 25vw;
    }

  .image {
    position: relative;
    border-radius: 13px;
    border: 3px solid $main-white;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-width: 100%;
    // filter: drop-shadow(30px 10px 4px #4444dd);
  }
}
